.myBtn{
    padding:5px 15px;    
    color:rgb(247, 244, 244);
    border-radius:5px;
    border: 1p solid teal;
    margin:5px;
    font-size:15px;
    cursor: pointer;
    background: transparent;
    background-color: #5d42fa;
}
/* .activeBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #cccccc;
    color: #f0ebeb;
    border: 1p solid teal;
    padding:5px 15px;        
    border-radius:5px;
    border: 1p solid teal;
    margin:5px;
    font-size:15px;
} */

.activeBtn {
    pointer-events: none; /* Отключает взаимодействие с кнопкой */
    opacity: 0.6; /* Делает кнопку полупрозрачной */
    cursor: not-allowed; /* Меняет курсор на "недоступно" */
    /* Дополнительные стили для неактивного состояния */
    border: 1px solid #999999;
    color:rgb(247, 244, 244);
    background: transparent;
    background-color: #a799f5;
    padding:5px 15px;    
    border-radius:5px;
    margin:5px;
    font-size:15px;    
}
.button:disabled {
    cursor: not-allowed;    
}