.header{
background-color: aqua;
height: 100px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 40px;
}
.title{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;    
}
